<% @recipe.directions.each do |d| %>
  <li><%= d.step_1 %></li>
  <li><%= d.step_2 %></li>
  <li><%= d.step_3 %></li>
<% end %>


<!-- <% @recipe.ingredients.each do |i| %>
  <%= i.name %>
<% end %> -->
